.footerlinks {
    color: #ffffff;
    text-decoration: none;
}

.footerlinks:hover {
    color: #ffd800;
}

#footer1 {
    background: #762b00;
}

#footer2 {
    background: #531f00;
}

#footer2 a{
    text-decoration: none;
}

.dashboard-container {
    max-width: 1200px;
    margin: 40px auto;
    padding-top: 80px; /* Add this to push content down */
}

/* Reset & Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}